<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:sec="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security 
	http://www.springframework.org/schema/security/spring-security.xsd">



	<sec:http auto-config="true" use-expressions="true">
		<sec:intercept-url pattern="/VAADIN/**" access="permitAll" />
		<sec:intercept-url pattern="/test/**" access="hasRole('ROLE_ADMIN')" />

		<sec:session-management>
			<sec:concurrency-control max-sessions="1" />
		</sec:session-management>
	</sec:http>

	<sec:authentication-manager alias="authManager">
		<sec:authentication-provider>
			<!-- <sec:password-encoder hash="sha" /> add salt or maybe implement own 
				PasswordEncoder -->
			<sec:user-service>
				<sec:user name="bartek" password="qwerty" authorities="ROLE_ADMIN" />
			</sec:user-service>
		</sec:authentication-provider>
	</sec:authentication-manager>


</beans>